bcrypt
blinker
certifi
cffi
click
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
six
SQLAlchemy
Werkzeug
WTForms
email-validator
flask-share
gunicorn
pygeoip
requests
stripe
pyopenssl
cryptography
configobj
subprocess.run
lib-platform
wkhtmltopdf-pack==0.12.3.0 
pdfkit==0.6.0
